<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <div>
    <h1>
      Welcome to {{ title }}
    </h1>
  </div>

  <div>
    <li>
      Total fertility rate (live births per woman) is the number of children who would be born per woman.
    </li>
    <li>
      Proportional Symbol Map shows total fertility rate (live births per woman) of 10 countries in 2010-2015.
    </li>
    <li>
      Choropleth Map shows total fertility rate (live births per woman) of 10 countries in 2010-2015.
    </li>
    <li>
      Total Fertility Rate Data Source: <a href='http://data.un.org'>UNdata</a>. 
    </li>
    <li>
      World Data Source: <a href='https://data.worldbank.org/'>The World Bank</a>.
    </li>
    <li>
      LA County is home to 459 bookstores. Dot Map shows the distribution of bookstores in LA County in 2013. 
    </li>
    <li>
      LA County Bookstores Data Source: <a href='https://data.lacounty.gov/Arts-and-Culture/LA-County-Bookstores-2013/a3k2-6v7z'>LA County Bookstores</a>. 
    </li>
    <li>
      LA County Data Source: <a href='http://boundaries.latimes.com/set/la-county-neighborhoods-v6/'>Los Angeles Times</a>.
    </li>
  </div>
  
  <div >
    <app-proportional-symbol-map></app-proportional-symbol-map>
  </div>
  
  <div>
    <app-choropleth-map></app-choropleth-map>
  </div>
  
  <div>
    <app-los-angeles-county-map></app-los-angeles-county-map>
  </div>
</div>
