<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class='title'>
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <div class='description'>
      <li>
        Total fertility rate (live births per woman) is the number of children who would be born per woman.
      </li>
      <li>
        Bubble Chart shows total fertility rate (live births per woman) of 10 countries in 2010-2015.
      </li>
      <li>
        Pie Chart shows total fertility rate (live births per woman) of 5 countries in 2010-2015.
      </li>
      <li>
        Line Chart shows total fertility rate (live births per woman) of 10 countries from 2000-2005 to 2060-2065.
      </li>
      <li>
        Data Source: <a href='http://data.un.org'>UNdata</a>. 
      </li>
  </div>


  <div class='graph1'>
    <app-bubble-chart></app-bubble-chart>
  </div>

  <div class='graph3'>
      <app-pie-chart></app-pie-chart>
  </div>

  <div class='graph2'>
    <app-line-chart></app-line-chart>
  </div>
</div>



